* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    width: 100%
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
}

p {
  line-height: 1.5;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}
@media screen and (max-width: 1200px) {
    .container {
        max-width: 95%;
    }
}

:root {
    --regular-color: #000;
    --black-contrast: #000;
    --second-color: #fff;
    --gray-color: #474747;

    --border-color: #d1d1d1;
    --border-contrast: #8a8a8a;

    --title-size-XL: 4.375em;  /*70px*/
    --title-size-L: 3.125em;   /*50px*/
    --subtitle-size-XL: 2.5em;   /*40px*/
    --title-size: 1.6875em; /*27px*/
    --subtitle-size: 1.3125em;  /*21px*/
    --regular-size: 1em;   /*16px*/
    --regular-size-XS: 0.75em;   /*12px*/
}

.header {
    background: #000 url('images/bg.webp') no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0 120px;
}
header .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 100px;
}
.header__logo {
    color: var(--second-color);
    font-weight: 700;
    font-size: var(--title-size);
    text-decoration: none;
}
header nav {
    display: flex;
}
header nav ul{
    display: flex;
    align-items: center;
}
header nav ul li {
    display: block;
    margin-left: 30px;
}
header button {
    background: transparent;
    border: none;
    cursor: pointer;
}
header button svg {
    width: 20px;
}
header button:hover svg path {
    fill: yellow;
}
header button.active svg path {
    fill: yellow;
}
.header__link {
    color: var(--second-color);
    text-decoration: none;
    font-weight: 400;
    font-size: var(--subtitle-size);
    border-bottom: 1px solid transparent;
}
.header__link.active {
    border-bottom-color: var(--second-color);
}
.header__link:hover {
	border-bottom-color: var(--second-color);
}
.header__title {
    font-size: var(--title-size-XL);
    color: var(--second-color);
    margin-bottom: 50px;
}
@media screen and (max-width: 576px) {
    .header__title {
        font-size: var(--title-size-L);
    }
}
.header__profession {
    font-size: var(--subtitle-size-XL);
    color: var(--second-color);
    border: 3px solid var(--second-color);
    padding: 10px 20px;
}
@media screen and (max-width: 576px) {
    .header__profession {
        font-size: var(--subtitle-size);
    }
}

.resume {
    padding: 40px 0;
}
.resume__block {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 576px) {
    .resume__block {
        flex-direction: column;
    }
}
.resume__block:last-child {
    margin-bottom: 0;
}
.resume__many-info {
    width: calc(70% - 40px);
    border: 2px solid var(--border-color);
    padding: 20px;
}
.resume__many-info.contrast.active {
    border-color: var(--border-contrast);
}
@media screen and (max-width: 768px) {
    .resume__many-info {
        width: calc(60% - 40px);
    }
}
@media screen and (max-width: 576px) {
    .resume__many-info {
        width: 100%;
        margin-bottom: 40px;
    }
    .resume__many-info:last-child {
        margin-bottom: 0;
    }
}
.resume__short-info {
    background: #fff url('images/bg-line.webp') no-repeat center;
    background-size: cover;
    width: 30%;
    border: 2px solid var(--border-color);
    position: relative;
    padding: 20px;
}
.resume__short-info.contrast.active {
    border-color: var(--border-contrast);
}
@media screen and (max-width: 768px) {
    .resume__short-info {
        width: 40%;
    }
}
@media screen and (max-width: 576px) {
    .resume__short-info {
        width: 100%;
        margin-bottom: 40px;
    }
    .resume__short-info:last-child {
        margin-bottom: 0;
    }
}

.resume__dashes_top,
.resume__dashes_right,
.resume__dashes_bottom,
.resume__dashes_left {
    background: url('images/dashes.webp') no-repeat center;
    background-size: cover;

    width: 30px;
    height: 10px;
}
.resume__dashes_top {
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translate(-50%, 0);
}
.resume__dashes_right {
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translate(0, -50%) rotate(90deg);
    width: 30px;
    height: 10px;
}
.resume__dashes_bottom {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 30px;
    height: 10px;
}
.resume__dashes_left {
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translate(0, -50%) rotate(90deg);
    width: 30px;
    height: 10px;
}

.resume__icon {
    height: 50px;
    width: auto;
    margin-bottom: 20px;
}
.resume__line {
    background: #000;
    display: block;
    height: 2px;
    width: 20px;
    margin-bottom: 20px;
}
.resume__title {
    color: var(--regular-color);
    font-size: var(--title-size);
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.resume__text {
    font-size: var(--regular-size);
    color: var(--gray-color);
    margin-bottom: 20px;
}
.resume__text:last-child {
    margin-bottom: 0;
}
.resume__subtitle {
    font-size: var(--subtitle-size);
    font-weight: 500;
    color: var(--regular-color);
    margin-bottom: 20px;
}
.resume__box {
    display: flex;
    align-items: center;
}
.resume__link {
    margin-right: 20px;
}
.resume__social {
    width: 30px;
}
.resume__avatar {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    overflow: hidden;
    margin: 0 auto 20px;
}
.resume__photo {
    width: 100%;
    object-fit: cover;
}

.resume-skill {
    margin-bottom: 20px;
}
.resume-skill__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.resume-skill__name {
    font-size: var(--regular-size);
    color: var(--regular-color);
}
.resume-skill__percent {
    font-size: var(--regular-size);
    color: var(--gray-color);
}
.resume-skill__level {
    width: 100%;
    height: 5px;
    background: var(--border-color);
    position: relative;
}
.resume-skill__level span {
    height: 5px;
    background: #000;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
}


footer {
    padding: 40px 0;
    background: #fff;
    color: var(--regular-color);
}
footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 576px) {
    footer .container {
        justify-content: center;
        flex-direction: column;
    }
}
.footer__company {
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 576px) {
    .footer__company {
        align-items: center;
        margin-bottom: 15px;
    }
}
.footer__logo {
    font-weight: 700;
    font-size: var(--title-size);
}
.footer__app {
    font-weight: 400;
    font-size: var(--regular-size-XS);
}
.footer__copyright {
    font-weight: 400;
    font-size: var(--regular-size);
}
@media screen and (max-width: 576px) {
    .footer__copyright {
        margin-bottom: 15px;
    }
}
.footer__made {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
@media screen and (max-width: 576px) {
    .footer__made {
        flex-direction: row;
        align-items: center;
    }
}
.footer__made span {
    font-weight: 400;
    font-size: var(--regular-size-XS);
}
@media screen and (max-width: 576px) {
    .footer__made span {
        margin-right: 10px;
    }
}
.footer__author {
    font-weight: 700;
    font-size: var(--title-size);
}

.contrast.active {
    color: var(--black-contrast);
}