* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
canvas {
    display: block;
}
.modal {
    display: none;
}
.modal.active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    background: #000;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 40px;
}